Facebook data just has text, usernames, post its on, review it's on etc. We didn't get the timings or ids, or the total texts but tried to

In [1]:
import pandas as pd
import numpy as np
import os

import helpers

# To Apply helpers updates without resarting the kernel
import importlib
importlib.reload(helpers)

In [2]:
cd ../data

/Users/mnagy99/jupyter/AH/Facebook/SNA-AH-Case-Facebook/data

In [3]:
# data_files = [f for f in sorted(os.listdir()) if not f.startswith('.')]

In [4]:
csv_files = []
for file in sorted(os.listdir()):
    if file.split(".")[-1] == "csv":
        csv_files.append(file)

In [5]:
csv_files

['From_Facebook_post_0.csv',
 'From_Facebook_post_1.csv',
 'From_Facebook_post_2.csv',
 'From_Facebook_post_3.csv',
 'From_Facebook_post_4.csv',
 'From_Facebook_post_5.csv',
 'From_Facebook_profile_review.csv',
 'From_Facebook_searchurl_0.csv',
 '_all_data - NLU labeled train 12.4K.csv']

In [6]:
len(csv_files)

9

<br>

In [7]:
df_post0 = pd.read_csv(csv_files[0])
print(df_post0.shape)
df_post0.head()

(2386, 2)

            userName                                            comment
0     Raychel RayRay                                              Skank
1        Rich Lawson  Not only are you a pretty rubbish actress you ...
2      Zeyneb Yusein  You're a shame and disgrace for your family, I...
3  William Mcneillie  üòÇ what's next in your game plan? Blame Arthur ...
4        Flash Garot                             No one cares, you suck

In [8]:
df_post0.duplicated().sum()

0

In [9]:
df_post1 = pd.read_csv(csv_files[1])
print(df_post1.shape)
df_post1.head()

(452, 2)

                  userName                                            comment
0           Michelle Olmos  Shame on you for what you've done! Hate to be ...
1  Princess Cobain Hendrix                          NOBODYEEE LIKES YOU!!!!!!
2               Eric Harms  Beats her husband. Faked a virtual signaling b...
3                Kathy Ann  Wow, just happened to come her thou A. says sh...
4       Makayla Montgomery  Every time I see her face I literally am disgu...

In [10]:
df_post1.duplicated().sum()

0

In [11]:
df_post2 = pd.read_csv(csv_files[2])
print(df_post2.shape)
df_post2.head()

(440, 2)

                  userName                                            comment
0        Hannah Perez-hope  My favorite part is looking for men that say n...
1    Gokulnath Puthiyidath  Why is the comment box shut in insta... Fearin...
2             Tailor Gokey  If I wanted to go look at trash I‚Äôd look in my...
3  Andrea Grethey Campbell  From someone who actually is a survivor you ar...
4                Janiss CM                              #JusticeForJohnnyDepp

In [12]:
df_post2.duplicated().sum()

0

In [13]:
df_post3 = pd.read_csv(csv_files[3])
print(df_post3.shape)
df_post3.head()

(382, 2)

          userName                                            comment
0      Trent Wayne  I‚Äôm kinda wishing depp did put the paws on you...
1     Marcus Pagan  I love how you don‚Äôt have any real fans lol yo...
2     Amy Rossetti  Hopefully from now on EVERY article written ab...
3      Rub√≠ Nabile  Excelente, aqu√≠ te puedo escribir que no te qu...
4  Patrick Hoffman  And here we se a natural born predator in her ...

In [14]:
df_post3.duplicated().sum()

0

In [15]:
df_post4 = pd.read_csv(csv_files[4])
print(df_post4.shape)
df_post4.head()

(642, 2)

,userName,comment
0,Stive Rossi,Nice
1,Antonella Petrucci Alchemikiz,Scamber Turd lei non sa chi √® Jonny .. nessuno...
2,Gwen Nelson,Bye Amber you drug addict and drunk.... go awa...
3,Kali Sudo,Skank
4,W'watt Fiona,Yes I understand you need time have fun lil Jo...

In [16]:
df_post4.duplicated().sum()

0

In [17]:
df_post5 = pd.read_csv(csv_files[5])
print(df_post5.shape)
df_post5.head()

(363, 2)

           userName                                            comment
0      Amy Rossetti  Hopefully from now on EVERY article written ab...
1  Joseph Lowe-Drew  Aquaman was a disaster.....it would of been gr...
2     Marthita Sosa             #JusticeForJohnnyDepp #deathamberheard
3    Liadan Valeska                                                NaN
4      Usman Shaikh        You are very beautiful in Aquaman man movie

In [18]:
df_post5.duplicated().sum()

0

In [19]:
df_profile_review = pd.read_csv(csv_files[6])
print(df_profile_review.shape)
df_profile_review.head()

(657, 3)

,userName,recommend,text
0,Gianluca Carlesso,Gianluca Carlesso doesn't recommend Amber Heard.,"horrible person, that's the best description"
1,Danieru Tan,Danieru Tan doesn't recommend Amber Heard.,Poor acting. Bad character. Not recommended fo...
2,Parada LG,Parada LG doesn't recommend Amber Heard.,"Tiene exceso de acusaciones falsas, no recomen..."
3,Amanda Pulk,Amanda Pulk recommends Amber Heard.,No woman should have to worry about being fire...
4,Arelin Sol√≥rzano,Arelin Sol√≥rzano doesn't recommend Amber Heard.,Es una persona muy ego√≠sta y deber√≠a de dejar ...

In [20]:
df_searchurl = pd.read_csv(csv_files[7])
print(df_searchurl.shape)
df_searchurl.head()

(657, 3)

,userName,recommend,text
0,Gianluca Carlesso,Gianluca Carlesso doesn't recommend Amber Heard.,"horrible person, that's the best description"
1,Danieru Tan,Danieru Tan doesn't recommend Amber Heard.,Poor acting. Bad character. Not recommended fo...
2,Parada LG,Parada LG doesn't recommend Amber Heard.,"Tiene exceso de acusaciones falsas, no recomen..."
3,Amanda Pulk,Amanda Pulk recommends Amber Heard.,No woman should have to worry about being fire...
4,Arelin Sol√≥rzano,Arelin Sol√≥rzano doesn't recommend Amber Heard.,Es una persona muy ego√≠sta y deber√≠a de dejar ...

In [21]:
df_profile_review.equals(df_searchurl)

True

In [22]:
df_nlu = pd.read_csv(csv_files[8])
print(df_nlu.shape)
df_nlu.head()

(12487, 6)

,id,comment_text,defense_AH,support_AH,offense_AH,defense_against_AH
0,1,"We love you Amber! Karen Ingala Smith, CEO of ...",0.0,1.0,0.0,0.0
1,2,She is a hero to domestic violence victims. Sh...,0.0,1.0,0.0,0.0
2,3,Amber Heard is a positive influence in the wor...,0.0,1.0,0.0,0.0
3,4,Amber Heard has been my role model for a long ...,0.0,1.0,0.0,0.0
4,5,"Long live Queen Mera and Amber Heard! Folks, p...",0.0,1.0,0.0,0.0

# Data InfoTracer - Facebook Link Shares Groups

In [24]:
csv_files = []
for file in sorted(os.listdir('./Data InfoTracer - Facebook Link Shares Groups')):
    if file.split(".")[-1] == "csv":
        csv_files.append(file)

In [25]:
csv_files

['Facebook Link Shares - Remove Amber Heard Aquaman 2 changeorg - facebook 5-21-21.csv',
 'Facebook Link Shares - YouTube Adapt and Survive Amber Heard video - facebook.csv']

In [28]:
df_link_remove = pd.read_csv('./Data InfoTracer - Facebook Link Shares Groups/' + csv_files[0])
print(df_link_remove.shape)
df_link_remove.head()

(277, 116)

,id,group_id,external_id,post_external_id,unique_id,caption,created,by_page_owner,description,link,...,parent_producer_name,parent_producer_external_id,has_parent,video_source,video_asset_owner_external_id,video_external_id,video_asset_owner_id,video_asset_owner_name,has_video_asset_owner,is_post_producer_owner
0,fDMyODk2fDIyNTg3NDEzNzQ0Nzk2N18zODI3NTI2NDkzOT...,32896,2.258741e+30,3827526493949362,3.289623e+35,NaN,2020-11-14 15:40:31,1,NaN,https://www.facebook.com/FilosoraptorPaginaOfi...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,fDE0MTYwNzYwfDExODM1NzI0OTU2MDc5NF80MzI3MTA2Nj...,14160760,1.183572e+29,432710668125449,1.416076e+37,NaN,2020-11-12 19:43:50,1,NaN,https://www.facebook.com/valkirriso/photos/a.1...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,fDE1MTg0NTl8MTc5MjEwODk5NDM1MjcxN18yMzk1MjY3OD...,1518459,1.792109e+31,2395267867370157,1.518459e+38,NaN,2019-03-23 11:09:49,1,NaN,https://www.facebook.com/khobsanung/photos/a.1...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,fDQ3ODYwOHw2MjcwMjg3NjA2NzMyNTBfMzY2NDE1Mzg2Nj...,478608,6.270288e+30,3664153866960709,4.786086e+36,NaN,2020-11-13 03:30:40,1,NaN,https://www.facebook.com/CatDumbNews/photos/a....,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,fDg2Mzg4NzV8MjU4Mzk4MDY0NzI0OTkzXzgwODcxNTIzNj...,8638875,2.583981e+29,808715236359937,8.638875e+36,NaN,2020-11-10 02:30:04,1,NaN,https://www.facebook.com/thuyennhotroilenhdenh...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df_link_adapt = pd.read_csv('./Data InfoTracer - Facebook Link Shares Groups/' + csv_files[1])
print(df_link_adapt.shape)
df_link_adapt.head()

(3, 106)

,id,group_id,external_id,post_external_id,unique_id,caption,created,by_page_owner,description,link,...,zipcode,latitude,longitude,is_verified,get_reactions,is_igtv_previewed,like_and_view_counts_disabled,fb_id,group_fb_id,video_source
0,fDE0MTYwNzYwfDExODM1NzI0OTU2MDc5NF80Njk0NTg5Nj...,14160760,1.183572e+29,469458967783952,1.416076e+37,NaN,2020-12-30 01:05:52,1,NaN,https://www.facebook.com/valkirriso/photos/a.1...,...,NaN,0,0,False,True,False,False,118357249560794,118357249560794,NaN
1,fDk5MTM5NzR8MTM1NTk0NzYzMjMwOTQzXzIyOTEwNTgyMj...,9913974,1.355948e+30,2291058224351242,9.913974e+37,youtube.com,2020-12-30 22:29:24,1,Amber Heard is reflecting on the lessons of 20...,https://www.youtube.com/watch?v=uretrfMA-Io&fe...,...,NaN,0,0,False,True,False,False,135594763230943,135594763230943,https://www.youtube.com/embed/uretrfMA-Io?auto...
2,fDE0ODc2NjgzfDQ1MDk5NDczMDI0MTMzNzlfNDgwNzc0MT...,14876683,4.509947e+31,4807741279300645,1.487668e+39,upsocl.com,2020-12-30 06:31:26,1,La actriz hablaba en una entrevista sobre las ...,http://www.upsocl.com/muvi/fans-de-johnny-depp...,...,NaN,0,0,False,True,False,False,4509947302413379,4509947302413379,NaN

# Preliminary

In [30]:
csv_files = []
for file in sorted(os.listdir('./Preliminary')):
    if file.split(".")[-1] == "csv":
        csv_files.append(file)

In [31]:
csv_files

['Shared Count Analysis - SEO Petitions Change Org - Amber Heard Johnny Depp - sharedCountExport.csv',
 'sharedCountExport - Daily Mail SharedCount.com.csv']

In [32]:
df_shared_count0 = pd.read_csv('./Preliminary/' + csv_files[0])
print(df_shared_count0.shape)
df_shared_count0.head()

(16, 9)

,‚Ññ,URLs,Facebook shares,Facebook comments,Facebook comments plugin,Facebook reactions,Facebook total,Pins,Total
0,1,https://www.change.org/p/justice-for-johnny-depp,260,94,0,217,571,3,574
1,2,https://www.change.org/p/warner-brothers-keep-...,474,410,0,1739,2623,0,2623
2,3,https://www.change.org/p/the-walt-disney-compa...,1044,891,0,6485,8420,4,8424
3,4,https://www.change.org/p/warner-brothers-do-no...,4,2,0,4,10,0,10
4,5,https://www.change.org/p/warner-brothers-dc-en...,0,0,0,0,0,0,0

In [33]:
df_shared_count1 = pd.read_csv('./Preliminary/' + csv_files[1])
print(df_shared_count1.shape)
df_shared_count1.head()

(1, 9)

,‚Ññ,URLs,Facebook shares,Facebook comments,Facebook comments plugin,Facebook reactions,Facebook total,Pins,Total
0,1,https://www.dailymail.co.uk/news/article-79477...,32876,34694,9,111794,179373,18,179391

<br>