# Social Network Analysis - Amber Heard Case - Instagram
Adel Abu Hashim & Mahmoud Nagy - November 2021

## Table of Contents
<ul>
<li><a href="#intro"><b>Introduction</b></a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#end">End of Notebook</a></li>  
</ul>

<a id='intro'></a>
## Introduction

>This case study aims to help **Amber Heard** <br>
> 
> By analyzing new accounts posting/ commenting against a victim of a Social Bot Disinformation/Influence Operation. 
> 
> **We have two main datasets**: <br>
>(The datasets are screaped from **Instagram**).
> - 1- A dataset with posts data.
> - 2- A dataset with comments data.

In [1]:
import pandas as pd
import os 
from datetime import datetime
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import warnings
import re
warnings.filterwarnings('ignore')
%matplotlib inline
import plotly.io as pio
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.tokenize import word_tokenize
import ast

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/mahmoudnagy/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
# .. is the container directory. So ../.. means "up" twice.
os.chdir("../Data")

https://www.geeksforgeeks.org/args-kwargs-python/

Note: ‚ÄúWe use the ‚Äúwildcard‚Äù or ‚Äú*‚Äù notation like this ‚Äì *args OR **kwargs ‚Äì as our function‚Äôs argument when we have doubts about the number of  arguments we should pass in a function.‚Äù

Using the *, the variable that we associate with the * becomes an iterable meaning you can do things like iterate over it, run some higher-order functions such as map and filter, etc.

<a id='wrangling'></a>
# Data Wrangling

<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling"><b>Data Wrangling</b></a></li>
<li><a href="#end">End of Notebook</a></li>  
</ul>

<ul>
<li><a href="#posts"><b>Posts</b></a></li>  
<li><a href="#comments">Comments</a></li>  
</ul>

<a id='posts'></a>
## Posts

In [3]:
df_posts = pd.read_csv('posts.csv')
print(df_posts.shape)
df_posts.head()

(193967, 16)

,id,shortcode,display_url,display_resources,is_video,edge_media_to_caption.edges,location.id,location.has_public_page,location.name,location.slug,location.address_json,from.id,from.username,from.url,location,taken_at_timestamp
0,2312672024680952662,2312672024680952662,https://instagram.fmci2-1.fna.fbcdn.net/v/t51....,[{'src': 'https://instagram.fmci2-1.fna.fbcdn....,False,[{'node': {'text': 'According to the Digital t...,255561330.0,True,Hollywood,hollywood,"{""street_address"": """", ""zip_code"": ""90028"", ""c...",32529918546,cinescenes_,https://www.instagram.com/cinescenes_,NaN,NaN
1,2337634847974873162,2337634847974873162,https://scontent-lax3-1.cdninstagram.com/v/t51...,[{'src': 'https://scontent-lax3-1.cdninstagram...,False,[{'node': {'text': 'My girl‚ù§Ô∏è'}}],NaN,NaN,NaN,NaN,NaN,3988263563,scarlettjohansonoffcial,https://www.instagram.com/scarlettjohansonoffcial,NaN,NaN
2,2383123126627446477,2383123126627446477,https://scontent-lga3-1.cdninstagram.com/v/t51...,[{'src': 'https://scontent-lga3-1.cdninstagram...,False,[{'node': {'text': '‚ù§‚ù§‚ù§\n#eizagonzalez #alexan...,212999109.0,True,"Los Angeles, California",los-angeles-california,"{""street_address"": """", ""zip_code"": """", ""city_n...",38331031416,divine.hollywood.women,https://www.instagram.com/divine.hollywood.women,NaN,NaN
3,2389292367830952143,2389292367830952143,https://scontent-lga3-1.cdninstagram.com/v/t51...,[{'src': 'https://scontent-lga3-1.cdninstagram...,False,[{'node': {'text': 'Use #KarenGillanslover \nT...,NaN,NaN,NaN,NaN,NaN,18754453450,karen_gillans_lover,https://www.instagram.com/karen_gillans_lover,NaN,NaN
4,2484525220804152653,2484525220804152653,https://scontent-lga3-1.cdninstagram.com/v/t51...,[{'src': 'https://scontent-lga3-1.cdninstagram...,False,[{'node': {'text': '.\nÿ¨ÿßŸÜ€å ÿØŸæ ÿ®Ÿá ÿØŸÜÿ®ÿßŸÑ Ÿæÿ±Ÿà⁄òŸá\...,NaN,NaN,NaN,NaN,NaN,7105766142,cinemafars.official,https://www.instagram.com/cinemafars.official,NaN,NaN

In [4]:
df_posts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193967 entries, 0 to 193966
Data columns (total 16 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           193967 non-null  int64
 1   shortcode                    193967 non-null  int64
 2   display_url                  193967 non-null  object
 3   display_resources            193967 non-null  object
 4   is_video                     193967 non-null  bool
 5   edge_media_to_caption.edges  193967 non-null  object
 6   location.id                  22682 non-null   float64
 7   location.has_public_page     22682 non-null   object
 8   location.name                22682 non-null   object
 9   location.slug                21939 non-null   object
 10  location.address_json        21848 non-null   object
 11  from.id                      193967 non-null  int64
 12  from.username                193967 non-null  object
 13  from.url                     193967 non-null  object
 14  location                     0 non-null       float64
 15  taken_at_timestamp           33 non-null      float64
dtypes: bool(1), float64(3), int64(3), object(9)
memory usage: 22.4+ MB

In [5]:
def isnull(df):
    for col in df.columns:
        print(f'The number of NaNs in {col}:', df[col].isnull().sum())

isnull(df_posts)

The number of NaNs in id: 0
The number of NaNs in shortcode: 0
The number of NaNs in display_url: 0
The number of NaNs in display_resources: 0
The number of NaNs in is_video: 0
The number of NaNs in edge_media_to_caption.edges: 0
The number of NaNs in location.id: 171285
The number of NaNs in location.has_public_page: 171285
The number of NaNs in location.name: 171285
The number of NaNs in location.slug: 172028
The number of NaNs in location.address_json: 172119
The number of NaNs in from.id: 0
The number of NaNs in from.username: 0
The number of NaNs in from.url: 0
The number of NaNs in location: 193967
The number of NaNs in taken_at_timestamp: 193934

In [6]:
def valuecounts(df):
    for col in df.columns:
        print('Value Counts of: ' + col )
        print(df[col].value_counts())
        print('\n')
# valuecounts(df_posts)

In [7]:
# compare id and shortcode
(df_posts.id - df_posts.shortcode).unique()

array([0])

## Posting Time

In [8]:
# df_posts['taken_at_timestamp'].unique()

In [9]:
# df_posts.taken_at_timestamp.apply(lambda x: handler(x, np.nan, float))\
# [~np.isnat(df_posts.taken_at_timestamp.apply(lambda x: handler(x, np.nan, float)))].sort_values()

In [10]:
# df_posts.taken_at_timestamp.apply(lambda x: handler(x, np.nan, float))\
# [~np.isnat(df_posts.taken_at_timestamp.apply(lambda x: handler(x, np.nan, float)))].sort_values().dt.date.value_counts()

##### only 33 posts have posting time

### Drop Columns

In [11]:
drop_list = ['shortcode', 'display_url', 'display_resources', 'location.id', 'location.has_public_page',
             'location.slug', 'location.address_json', 'location']
df_posts.drop(columns=drop_list, inplace=True)

In [12]:
# Also drop the 'taken_at_timestamp' columns --> since most of the data is missing
df_posts.drop(columns='taken_at_timestamp', inplace=True)

### Renaming Columns

In [13]:
df_posts.rename(columns={'edge_media_to_caption.edges': 'caption',
                         'location.name': 'location',
                         'from.id': 'user_id',
                         'from.username': 'username',
                         'from.url':'account_url'}, inplace=True)
df_posts.head(1)

,id,is_video,caption,location,user_id,username,account_url
0,2312672024680952662,False,[{'node': {'text': 'According to the Digital t...,Hollywood,32529918546,cinescenes_,https://www.instagram.com/cinescenes_

### Changing Data Types

In [14]:
df_posts['id'] = df_posts['id'].astype('str')
df_posts['user_id'] = df_posts['user_id'].astype('str')

### Cleaning up the caption column

In [15]:
# df_posts['caption'][0][20:-4]

In [16]:
df_posts['caption'] = df_posts['caption'].apply(lambda x: x[20:-4])

In [17]:
df_posts['caption'][0]

'According to the Digital trends: Visual effect artists often say that two elements most difficult to create digitally are Fire and Water.\\nThen how would it be difficult to make Aquaman that has hundreds of specific scenes.\\n\\nIs there any Visual Artist that reading this Post share your opinion.\\n\\nDirected by James Wan\\nCinematography: Don Burgess\\n.\\n.\\n¬© Warner bros. Pictures/ DC\\n.\\n#aquaman #warnerbrosstudios #jameswan #donburgess #jasonmamoa #amberheard #patrickwilson #williamdefoe #dolphlundgren #yahyaabdulmateenii #ludilin #temueramorrison #nicolekidman #rupertgregsonwilliams #dcentertainment #kirkmorri #ilm #methodstudios #digitaldomain #lumapictures #mpc #rodeofx #scanlinevfx #visualartists #emanuellubezki #cinematography #photography'

In [18]:
# re.findall("""'text': '(.*)'}""",df_posts['edge_media_to_caption.edges'][0])[0]

In [19]:
# def get_caption_text(text):
#     try:
#         return re.findall("""'text': '(.*)'}""",text)[0]
#     except:
#         return np.nan

>>### Posts
| Column | Description |
| :--|:--|
|id| the id of the post|
|is_video| whether the post contain image or video |
|caption| the post caption |
|location| the location where the post was made |
|user_id| the id of the user |
|username| the user name |
|account_url| the url of the user account |

In [20]:
total_posts = df_posts.shape[0]
total_posted_users = df_posts['username'].nunique()

In [21]:
print(f'total number of posts {total_posts} by {total_posted_users} users')

total number of posts 193967 by 36137 users

<a id='comments'></a>
## Comments
<ul>
<li><a href="#posts">Posts</a></li>  
<li><a href="#comments"><b>Comments</b></a></li>  
</ul>

In [22]:
df_comments = pd.read_csv('comments.csv')
print(df_comments.shape)
df_comments.head()

(1973569, 12)

,message,timestamp,id,n_replies,n_likes,media_id,in_reply_to,from.id,from.username,from.is_verified,from.url,from.profile_pic
0,#scarlettjohansson #alexandradaddario #emiliac...,1.592888e+09,1.791523e+16,0.0,0.0,2.337635e+18,NaN,3.988264e+09,scarlettjohansonoffcial,False,https://www.instagram.com/scarlettjohansonoffcial,NaN
1,üî•üî•‚ù§Ô∏è,1.592888e+09,1.784587e+16,0.0,0.0,2.337635e+18,NaN,3.988264e+09,scarlettjohansonoffcial,False,https://www.instagram.com/scarlettjohansonoffcial,NaN
2,Very beautiful üòò‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏èi love you very much üòçüíòüíò...,1.592888e+09,1.788947e+16,0.0,0.0,2.337635e+18,NaN,1.230201e+10,fr.ederic2368,False,https://www.instagram.com/fr.ederic2368,NaN
3,‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è,1.592889e+09,1.786950e+16,0.0,0.0,2.337635e+18,NaN,2.490417e+09,muataz_87,False,https://www.instagram.com/muataz_87,NaN
4,Bomb√≥n bello üíñüíñüíñüíñüíñ,1.592889e+09,1.806608e+16,0.0,0.0,2.337635e+18,NaN,1.521544e+09,jorgero122129,False,https://www.instagram.com/jorgero122129,NaN

In [23]:
df_comments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1973569 entries, 0 to 1973568
Data columns (total 12 columns):
 #   Column            Dtype
---  ------            -----
 0   message           object
 1   timestamp         float64
 2   id                float64
 3   n_replies         float64
 4   n_likes           float64
 5   media_id          float64
 6   in_reply_to       float64
 7   from.id           float64
 8   from.username     object
 9   from.is_verified  object
 10  from.url          object
 11  from.profile_pic  object
dtypes: float64(7), object(5)
memory usage: 180.7+ MB

In [24]:
isnull(df_comments)

The number of NaNs in message: 0
The number of NaNs in timestamp: 47
The number of NaNs in id: 47
The number of NaNs in n_replies: 521470
The number of NaNs in n_likes: 47
The number of NaNs in media_id: 47
The number of NaNs in in_reply_to: 1452146
The number of NaNs in from.id: 47
The number of NaNs in from.username: 47
The number of NaNs in from.is_verified: 521470
The number of NaNs in from.url: 47
The number of NaNs in from.profile_pic: 1690465

### Drop Rows with Duplicated IDs

In [25]:
# value_counts(df_comments)

In [26]:
df_comments['id'].duplicated().sum()

222455

In [27]:
df_comments.duplicated(subset=['id', 'timestamp', 'from.id', 'from.username', 'from.url']).sum()

222455

In [28]:
df_comments.duplicated(subset=['id', 'timestamp', 'from.id', 'from.username', 'from.url', 'in_reply_to', 'media_id']).sum()

222382

In [29]:
df_comments.duplicated().sum()

213343

In [30]:
df_comments = df_comments.drop_duplicates(subset='id')

### Drop NaNs in datetime

In [31]:
isnull(df_comments)

The number of NaNs in message: 0
The number of NaNs in timestamp: 1
The number of NaNs in id: 1
The number of NaNs in n_replies: 335515
The number of NaNs in n_likes: 1
The number of NaNs in media_id: 1
The number of NaNs in in_reply_to: 1415600
The number of NaNs in from.id: 1
The number of NaNs in from.username: 1
The number of NaNs in from.is_verified: 335515
The number of NaNs in from.url: 1
The number of NaNs in from.profile_pic: 1652918

In [32]:
# df_comments = df_comments[df_comments['timestamp'].notna()]
df_comments.dropna(subset=['timestamp'], inplace=True)

In [33]:
# isnull(df_comments)

### Drop Columns

In [34]:
df_comments.drop(columns='from.profile_pic', inplace=True)

### Renaming Columns

In [35]:
df_comments.rename(columns={'timestamp': 'datetime',
                         'in_reply_to': 'parent_id',
                         'from.id': 'user_id',
                         'from.username': 'username',
                         'from.is_verified':'is_verified',
                         'from.url': 'account_url'}, inplace=True)
df_comments.head(1)

,message,datetime,id,n_replies,n_likes,media_id,parent_id,user_id,username,is_verified,account_url
0,#scarlettjohansson #alexandradaddario #emiliac...,1.592888e+09,1.791523e+16,0.0,0.0,2.337635e+18,NaN,3.988264e+09,scarlettjohansonoffcial,False,https://www.instagram.com/scarlettjohansonoffcial

### Changing Data Types

In [36]:
df_comments.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1751113 entries, 0 to 1973568
Data columns (total 11 columns):
 #   Column       Dtype
---  ------       -----
 0   message      object
 1   datetime     float64
 2   id           float64
 3   n_replies    float64
 4   n_likes      float64
 5   media_id     float64
 6   parent_id    float64
 7   user_id      float64
 8   username     object
 9   is_verified  object
 10  account_url  object
dtypes: float64(7), object(4)
memory usage: 160.3+ MB

In [37]:
# convert time stamp into datetime

# instead of using the handler function
# df_comments.datetime = df_comments.datetime.apply(lambda x: handler(x, np.nan, float))
df_comments.datetime = df_comments.datetime.apply(lambda x: x if np.isnan(x) else datetime.fromtimestamp(x))
df_comments.head(1)

,message,datetime,id,n_replies,n_likes,media_id,parent_id,user_id,username,is_verified,account_url
0,#scarlettjohansson #alexandradaddario #emiliac...,2020-06-23 06:50:19,1.791523e+16,0.0,0.0,2.337635e+18,NaN,3.988264e+09,scarlettjohansonoffcial,False,https://www.instagram.com/scarlettjohansonoffcial

In [38]:
# expand the numbers from 1.791523243043098e+16 to 17915232430430980.0 then convert it to a string
df_comments['id'] = df_comments['id'].apply(lambda x: x if np.isnan(x) else format(x, '.1f'))
df_comments['id'] = df_comments['id'].astype('str').apply(lambda x: x[:-2])

In [39]:
df_comments['user_id'] = df_comments['user_id'].apply(lambda x: x if np.isnan(x) else format(x, '.1f'))
df_comments['user_id'] = df_comments['user_id'].astype('str').apply(lambda x: x[:-2])

df_comments['media_id'] = df_comments['media_id'].apply(lambda x: x if np.isnan(x) else format(x, '.1f'))
df_comments['media_id'] = df_comments['media_id'].astype('str').apply(lambda x: x[:-2])

df_comments['parent_id'] = df_comments['parent_id'].apply(lambda x: x if np.isnan(x) else format(x, '.1f'))
df_comments['parent_id'] = df_comments['parent_id'].astype('str').apply(lambda x: x[:-2])

In [40]:
df_comments['is_verified'] = df_comments['is_verified'].astype('bool')

In [41]:
df_comments.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1751113 entries, 0 to 1973568
Data columns (total 11 columns):
 #   Column       Dtype
---  ------       -----
 0   message      object
 1   datetime     datetime64[ns]
 2   id           object
 3   n_replies    float64
 4   n_likes      float64
 5   media_id     object
 6   parent_id    object
 7   user_id      object
 8   username     object
 9   is_verified  bool
 10  account_url  object
dtypes: bool(1), datetime64[ns](1), float64(2), object(7)
memory usage: 148.6+ MB

### Create year, month, dayofmonth, date and hour columns

In [42]:
df_comments['year'] = df_comments['datetime'].dt.year
df_comments['month'] = df_comments['datetime'].dt.strftime('%b')
df_comments['dayofmonth'] = df_comments['datetime'].dt.day
df_comments['date'] = df_comments['datetime'].dt.date
df_comments['hour'] = df_comments['datetime'].dt.hour

### Convert month into an ordered categorical type

In [43]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
mord = pd.api.types.CategoricalDtype(ordered=True, categories=months)  # mord --> months ordered
df_comments['month'] = df_comments['month'].astype(mord)

In [44]:
df_comments.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1751113 entries, 0 to 1973568
Data columns (total 16 columns):
 #   Column       Dtype
---  ------       -----
 0   message      object
 1   datetime     datetime64[ns]
 2   id           object
 3   n_replies    float64
 4   n_likes      float64
 5   media_id     object
 6   parent_id    object
 7   user_id      object
 8   username     object
 9   is_verified  bool
 10  account_url  object
 11  year         int64
 12  month        category
 13  dayofmonth   int64
 14  date         object
 15  hour         int64
dtypes: bool(1), category(1), datetime64[ns](1), float64(2), int64(3), object(8)
memory usage: 203.7+ MB

In [45]:
print(df_comments.shape)
df_comments.head()

(1751113, 16)

,message,datetime,id,n_replies,n_likes,media_id,parent_id,user_id,username,is_verified,account_url,year,month,dayofmonth,date,hour
0,#scarlettjohansson #alexandradaddario #emiliac...,2020-06-23 06:50:19,17915232430430980,0.0,0.0,2337634847974873088,n,3988263563,scarlettjohansonoffcial,False,https://www.instagram.com/scarlettjohansonoffcial,2020,Jun,23,2020-06-23,6
1,üî•üî•‚ù§Ô∏è,2020-06-23 06:50:20,17845867817208020,0.0,0.0,2337634847974873088,n,3988263563,scarlettjohansonoffcial,False,https://www.instagram.com/scarlettjohansonoffcial,2020,Jun,23,2020-06-23,6
2,Very beautiful üòò‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏èi love you very much üòçüíòüíò...,2020-06-23 06:54:04,17889474637566402,0.0,0.0,2337634847974873088,n,12302008022,fr.ederic2368,False,https://www.instagram.com/fr.ederic2368,2020,Jun,23,2020-06-23,6
3,‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è,2020-06-23 07:12:28,17869498675832482,0.0,0.0,2337634847974873088,n,2490417195,muataz_87,False,https://www.instagram.com/muataz_87,2020,Jun,23,2020-06-23,7
4,Bomb√≥n bello üíñüíñüíñüíñüíñ,2020-06-23 07:14:40,18066076495222844,0.0,0.0,2337634847974873088,n,1521544054,jorgero122129,False,https://www.instagram.com/jorgero122129,2020,Jun,23,2020-06-23,7

### Change all text to a lowercase for consistent investigations

In [46]:
# df_comments["message"] = df_comments["message"].apply(str.lower)
df_comments["message"] = df_comments["message"].str.lower()

>>### Comments
| Column | Description |
| :--|:--|
|message| the comment message|
|datetime| the time of the comment |
|id| the id of the comment |
|n_replies| the number of replies on the comment |
|n_likes| the number of likes on the comment |
|media_id| the id of the posted photo/video |
|parent_id| the id of the parent comment/post |
|user_id| the id of the user |
|username| the user name |
|is_verified| whether the account is verified or not |
|account_url| the url of the user account |

### Save the Cleaned DataFrames

In [47]:
# Save clean DataFrame to csv file
df_comments.to_csv('comments_cleaned.csv', encoding = 'utf-8', index=False)
df_posts.to_csv('posts_cleaned.csv', encoding = 'utf-8', index=False)

# Same Text

In [48]:
df_comments = pd.read_csv('comments_cleaned.csv')

## Normalization
1. Remove Emojis.
2. Convert all text to lower case.

## Tokenization
1. text into a list of unique words.
2. remove stop words.

In [49]:
def remove_emojis(text):
    emoji_pattern = re.compile("["
                               "‚ù§Ô∏è"
                               "ü•∞"
            u"\U0001F600-\U0001F64F" 
            u"\U0001F300-\U0001F5FF"  
            u"\U0001F680-\U0001F6FF"  
            u"\U0001F1E0-\U0001F1FF"  
                               "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

In [50]:
# normaliztion
df_comments['clean_text'] = df_comments.message.apply(lambda x: remove_emojis(x).lower())

In [51]:
all_stop_words = []
for lang in stopwords.fileids():
    all_stop_words.append(stopwords.words(lang))
all_stop_words = [item for sublist in all_stop_words for item in sublist]

In [52]:
def tokenize(text):
    return [i for i in [i for i in word_tokenize(text) if i not in all_stop_words] if i.isalnum()]

In [53]:
df_comments_clean = df_comments.copy()

In [54]:
df_comments_clean.clean_text = np.where(df_comments_clean.clean_text == '', np.nan, df_comments_clean.clean_text)

In [55]:
df_comments_clean.dropna(subset=['clean_text'], inplace=True)

In [56]:
# punkt is a nltk library tool for tokenizing text documents. When we use an old or a degraded version of nltk module we generally need to download the remaining data .
# You can do
# nltk.download('punkt')
# nltk.download('stopwords')
# nltk.download('corpus')

In [57]:
# nltk.download()

In [58]:
# nltk.download('punkt')

In [59]:
df_comments_clean['tokens'] = df_comments_clean.clean_text.apply(lambda x: tokenize(x))

In [60]:
df_comments_clean['tokens'] = df_comments_clean.tokens.apply(lambda x: set(x))

In [61]:
df_comments_clean.to_csv('comments_text.csv', encoding = 'utf-8', index=False)

<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#end"><b>End of Notebook</b></a></li>  
</ul>

<a id = 'end'><a/>
# END OF NOTEBOOK