# Twitter Data Wrangling 
MAHMOUD NAGY - MAR 2022

In [1]:
import pandas as pd
from IPython.display import display
import os

In [2]:
cd '../../Twitter_Data'

/Users/mnagy99/jupyter/AH/Twitter_Bot_Analysis/Twitter_Data

In [3]:
csv = [f for f in sorted(os.listdir()) if f.endswith('.csv')]
csv.remove('merged_all_years_zip.csv')
csv

['2020_daily_creation.csv',
 'daily_creation18.csv',
 'daily_creation19.csv',
 'daily_creation21.csv',
 'nlp_data.csv',
 'other_languages.csv',
 'tweets_2018.csv',
 'tweets_2018_lite.csv',
 'tweets_2019.csv',
 'tweets_2019_lite.csv',
 'tweets_2020.csv',
 'tweets_2020_lite.csv',
 'tweets_2021.csv',
 'tweets_2021_lite.csv',
 'twitter_classified.csv',
 'users_2018.csv',
 'users_2019.csv',
 'users_2020.csv',
 'users_2021.csv',
 'users_created_in_2018.csv',
 'users_created_in_2019.csv',
 'users_created_in_2020.csv',
 'users_created_in_2021.csv']

In [4]:
for f in csv:
    df = pd.read_csv(f, lineterminator='\n')
    print(f)
    print(df.shape)
    display(df.head(1))
    print('\n')

2020_daily_creation.csv
(366, 2)

             user.created_at  user.id_str\r
0  2020-01-01 00:00:00+00:00            107

daily_creation18.csv
(362, 2)

             user.created_at  user.id_str
0  2018-01-01 00:00:00+00:00           10

daily_creation19.csv
(364, 2)

             user.created_at  user.id_str
0  2019-01-01 00:00:00+00:00           20

daily_creation21.csv
(115, 2)

             user.created_at  user.id_str
0  2021-01-01 00:00:00+00:00           39

nlp_data.csv
(5000, 1)

                                        clean_text\r
0  @camilawondcr Sim. E quem merece sobressair, v...

other_languages.csv
(143304, 24)

,user_description,username,n_followers,text,profile_banner_url,user_location,user_id,user_created_at,profile_image_url,n_friends,...,tweet_id,user_screen_name,date,year,month,dayofmonth,diff,days_diff,translated,hours_diff
0,28. dark and twistyâ™¡ taking it sleazyâœŒğŸ» tv sho...,Caro,3427,Amber Heard anduvo en Chilito?,https://pbs.twimg.com/profile_banners/10562024...,"Santiago, Chile",105620244,2010-01-16 23:16:06,http://pbs.twimg.com/profile_images/1378557216...,3556,...,947652598630404101,iCaaroooh,2018-01-01,2018,Jan,1,2906 days 02:59:54,2906,Amber Heard anduvo en Chilito?\r,2

tweets_2018.csv
(37186, 39)

,id_str,created_at,full_text,lang,in_reply_to_status_id_str,in_reply_to_user_id,entities.hashtags,entities.media,entities.symbols,entities.urls,...,user.friends_count,user.lang,user.location,user.name,user.screen_name,user.profile_banner_url,user.profile_image_url,user.statuses_count,user.url,user.verified
0,953749974365474821,2018-01-17 22:04:48+00:00,"[ Luke Mitchell y Amber Heard, chillando. http...",en,NaN,NaN,[],NaN,[],[{'display_url': 'twitter.com/iwillsavelivesâ€¦'...,...,458,NaN,"ğ‹ğ¨ğ§ğğ¨ğ§, ğ‹ğğ°ğ¢ğ¬ğ¡ğšğ¦. ğ“.ğ“–; ğ“Ÿğ“²ğ“»ğ“ªğ“½ğ“® ğ‘‡ğ˜©ğ‘’ğ‘› ğ‘¦ğ‘œğ‘¢ ğ‘Ÿğ‘’...",â•¾ Sá´›á´œá´€Ê€á´› ğ…ğ‚ ğ€ğ”!,StuartBlxck,https://pbs.twimg.com/profile_banners/86151144...,http://pbs.twimg.com/profile_images/1383461196...,26571,https://t.co/ZWO1FYzQY8,False

tweets_2018_lite.csv
(37186, 14)

,id_str,created_at,full_text,user.id_str,user.screen_name,user.name,user.created_at,user.description,user.profile_image_url,user.profile_banner_url,user.url,user.statuses_count,user.followers_count,user.friends_count
0,953749974365474821,2018-01-17 22:04:48+00:00,"[ Luke Mitchell y Amber Heard, chillando. http...",861511449776201728,StuartBlxck,â•¾ Sá´›á´œá´€Ê€á´› ğ…ğ‚ ğ€ğ”!,2017-05-08 09:21:50+00:00,âŒ– ğ™´ğš¡ ğ™²ğšğš›ğš‹ğšğš›ğšğšœ ğ™°ğšğšğš—ğš. â•® ğ˜½ğ™”ğ™ğ™‰ğ™€ ğ‘‚â€™ğ¶ğ´ğ¿ğ¿ğ´ğºğ»ğ´ğ‘ â‚/â‚… â—£...,http://pbs.twimg.com/profile_images/1383461196...,https://pbs.twimg.com/profile_banners/86151144...,https://t.co/ZWO1FYzQY8,26571,1075,458

tweets_2019.csv
(94346, 39)

,id_str,created_at,full_text,lang,in_reply_to_status_id_str,in_reply_to_user_id,entities.hashtags,entities.media,entities.symbols,entities.urls,...,user.friends_count,user.lang,user.location,user.name,user.screen_name,user.profile_banner_url,user.profile_image_url,user.statuses_count,user.url,user.verified
0,1080847344629878785,2019-01-03 15:24:22+00:00,"@camilawondcr Sim. E quem merece sobressair, v...",pt,1.080847e+18,3.345778e+09,[],NaN,[],[],...,541,NaN,Brasil/Gotham,Ğ¯Ğ°Ğ¼Ğ¾Ğ¸ #HenryCavillSuperman,ImMummRa,https://pbs.twimg.com/profile_banners/88915231...,http://pbs.twimg.com/profile_images/1209899835...,13946,NaN,False

tweets_2019_lite.csv
(94346, 14)

,id_str,created_at,full_text,user.id_str,user.screen_name,user.name,user.created_at,user.description,user.profile_image_url,user.profile_banner_url,user.url,user.statuses_count,user.followers_count,user.friends_count
0,1080847344629878785,2019-01-03 15:24:22+00:00,"@camilawondcr Sim. E quem merece sobressair, v...",889152311704113152,ImMummRa,Ğ¯Ğ°Ğ¼Ğ¾Ğ¸ #HenryCavillSuperman,2017-07-23 15:56:45+00:00,DC - Marvel - Star Wars - The Dragon Prince (R...,http://pbs.twimg.com/profile_images/1209899835...,https://pbs.twimg.com/profile_banners/88915231...,NaN,13946,668,541

tweets_2020.csv
(612583, 39)

,id_str,created_at,full_text,lang,in_reply_to_status_id_str,in_reply_to_user_id,entities.hashtags,entities.media,entities.symbols,entities.urls,...,user.friends_count,user.lang,user.location,user.name,user.screen_name,user.profile_banner_url,user.profile_image_url,user.statuses_count,user.url,user.verified
0,1214659714698633223,2020-01-07 21:26:57+00:00,@jackshitnobody He is a great actor . And ambe...,en,1.214660e+18,3.416958e+09,[],NaN,[],[],...,4999,NaN,NaN,SpecSpiderKen,Kenman_RiderW,https://pbs.twimg.com/profile_banners/34169582...,http://pbs.twimg.com/profile_images/1379203885...,103031,https://t.co/c3IRRGFziB,False

tweets_2020_lite.csv
(612583, 7)

,id_str,created_at,full_text,user.id_str,user.screen_name,user.name,user.created_at
0,1214659714698633223,2020-01-07 21:26:57+00:00,@jackshitnobody He is a great actor . And ambe...,3416958298,Kenman_RiderW,SpecSpiderKen,2015-08-12 03:54:29+00:00

tweets_2021.csv
(228686, 39)

,id_str,created_at,full_text,lang,in_reply_to_status_id_str,in_reply_to_user_id,entities.hashtags,entities.media,entities.symbols,entities.urls,...,user.friends_count,user.lang,user.location,user.name,user.screen_name,user.profile_banner_url,user.profile_image_url,user.statuses_count,user.url,user.verified
0,1345359931550134272,2021-01-02 13:22:57+00:00,So ready âœ¨ for the next #DeppMovieNight\n\nFil...,en,NaN,NaN,"[{'indices': [24, 39], 'text': 'DeppMovieNight...",NaN,[],[],...,544,NaN,"South West, England",ğŸ´â€â˜ ï¸ Tongo Bozzie ğŸ´â€â˜ ï¸,Noneofthemknew1,https://pbs.twimg.com/profile_banners/13190075...,http://pbs.twimg.com/profile_images/1384638730...,20334,NaN,False

tweets_2021_lite.csv
(228686, 14)

,id_str,created_at,full_text,user.id_str,user.screen_name,user.name,user.created_at,user.description,user.profile_image_url,user.profile_banner_url,user.url,user.statuses_count,user.followers_count,user.friends_count
0,1345359931550134272,2021-01-02 13:22:57+00:00,So ready âœ¨ for the next #DeppMovieNight\n\nFil...,1319007523056308227,Noneofthemknew1,ğŸ´â€â˜ ï¸ Tongo Bozzie ğŸ´â€â˜ ï¸,2020-10-21 20:08:07+00:00,I wouldn't be on Twitter if it weren't for JDğŸ´...,http://pbs.twimg.com/profile_images/1384638730...,https://pbs.twimg.com/profile_banners/13190075...,NaN,20334,747,544

twitter_classified.csv
(5000, 43)

,defense_AH,support_AH,offense_AH,defense_against_AH,id_str,created_at,clean_text,lang,in_reply_to_status_id_str,in_reply_to_user_id,...,user.friends_count,user.lang,user.location,user.name,user.screen_name,user.profile_banner_url,user.profile_image_url,user.statuses_count,user.url,user.verified
0,True,True,False,False,1080847344629878785,2019-01-03 15:24:22+00:00,"@camilawondcr Sim. E quem merece sobressair, v...",pt,1.080847e+18,3.345778e+09,...,541.0,NaN,Brasil/Gotham,Ğ¯Ğ°Ğ¼Ğ¾Ğ¸ #HenryCavillSuperman,ImMummRa,https://pbs.twimg.com/profile_banners/88915231...,http://pbs.twimg.com/profile_images/1209899835...,13946.0,NaN,False

users_2018.csv
(19105, 11)

,user.id_str,user.screen_name,user.name,user.created_at,user.description,user.profile_image_url,user.profile_banner_url,user.url,user.statuses_count,user.followers_count,user.friends_count
0,861511449776201728,StuartBlxck,â•¾ Sá´›á´œá´€Ê€á´› ğ…ğ‚ ğ€ğ”!,2017-05-08 09:21:50+00:00,âŒ– ğ™´ğš¡ ğ™²ğšğš›ğš‹ğšğš›ğšğšœ ğ™°ğšğšğš—ğš. â•® ğ˜½ğ™”ğ™ğ™‰ğ™€ ğ‘‚â€™ğ¶ğ´ğ¿ğ¿ğ´ğºğ»ğ´ğ‘ â‚/â‚… â—£...,http://pbs.twimg.com/profile_images/1383461196...,https://pbs.twimg.com/profile_banners/86151144...,https://t.co/ZWO1FYzQY8,26571,1075,458

users_2019.csv
(34363, 11)

,user.id_str,user.screen_name,user.name,user.created_at,user.description,user.profile_image_url,user.profile_banner_url,user.url,user.statuses_count,user.followers_count,user.friends_count
0,990205643532521472,anike34t,anike34t,2018-04-28 12:26:37+00:00,NaN,http://abs.twimg.com/sticky/default_profile_im...,NaN,NaN,187,1,0

users_2020.csv
(196251, 4)

   user.id_str user.screen_name  user.name            user.created_at
0    132788590      HavenFaithc  h a v e n  2010-04-14 05:22:22+00:00

users_2021.csv
(48992, 11)

,user.id_str,user.screen_name,user.name,user.created_at,user.description,user.profile_image_url,user.profile_banner_url,user.url,user.statuses_count,user.followers_count,user.friends_count
0,1230584674726109184,paepp_hub,PÃ¦pp,2020-02-20 20:07:14+00:00,3/4 dei tweet che posto vengono dalle chat con...,http://pbs.twimg.com/profile_images/1348616225...,https://pbs.twimg.com/profile_banners/12305846...,NaN,6921,2483,1394

users_created_in_2018.csv
(1658, 11)

,user.id_str,user.screen_name,user.name,user.created_at,user.description,user.profile_image_url,user.profile_banner_url,user.url,user.statuses_count,user.followers_count,user.friends_count
0,953459878563057664,sinangeIs,Allison.,2018-01-17 02:52:04+00:00,â €â €â € â €â €â € â €â € â €â €â € â €â € â €â € â €â €â € â € â €â €â € â €â € â €â €â € â €â €â € â €â € â €...,http://pbs.twimg.com/profile_images/9577797829...,https://pbs.twimg.com/profile_banners/95345987...,NaN,74,19,25

users_created_in_2019.csv
(2041, 11)

,user.id_str,user.screen_name,user.name,user.created_at,user.description,user.profile_image_url,user.profile_banner_url,user.url,user.statuses_count,user.followers_count,user.friends_count
0,1080476186235400192,Timothy18051484,Timothy Lin,2019-01-02 14:49:31+00:00,NaN,http://pbs.twimg.com/profile_images/1175385936...,NaN,NaN,21,6,67

users_created_in_2020.csv
(28391, 4)

,user.id_str,user.screen_name,user.name,user.created_at
0,1214210756532559872,AppituBlog,Appitu Blog,2020-01-06 15:43:11+00:00

users_created_in_2021.csv
(3662, 11)

,user.id_str,user.screen_name,user.name,user.created_at,user.description,user.profile_image_url,user.profile_banner_url,user.url,user.statuses_count,user.followers_count,user.friends_count
0,1348681210084659200,steven79689026,steven,2021-01-11 17:20:56+00:00,NaN,http://abs.twimg.com/sticky/default_profile_im...,NaN,NaN,20,7,30

<br>

> **users_2021** --> 
>- users contributed on 2021
>    
> **users_created_in_2021** -->
>- accounts created in 2021

In [5]:
df_18 = pd.read_csv('tweets_2018_lite.csv', lineterminator='\n')
df_19 = pd.read_csv('tweets_2019_lite.csv', lineterminator='\n')
df_20 = pd.read_csv('tweets_2020_lite.csv', lineterminator='\n')
df_21 = pd.read_csv('tweets_2021_lite.csv', lineterminator='\n')

In [6]:
df_users_20 = pd.read_csv('users_2020.csv', lineterminator='\n')
set(df_users_20.columns) & set(df_20.columns)

{'user.created_at', 'user.id_str', 'user.name', 'user.screen_name'}

In [7]:
missing = set(df_21.columns) - set(df_20.columns)
missing

{'user.description',
 'user.followers_count',
 'user.friends_count',
 'user.profile_banner_url',
 'user.profile_image_url',
 'user.statuses_count',
 'user.url'}

In [8]:
missing - set(df_users_20.columns)

{'user.description',
 'user.followers_count',
 'user.friends_count',
 'user.profile_banner_url',
 'user.profile_image_url',
 'user.statuses_count',
 'user.url'}

<br>

## Users data are missing from 2020

In [9]:
df_users_20.head(1)

   user.id_str user.screen_name  user.name            user.created_at
0    132788590      HavenFaithc  h a v e n  2010-04-14 05:22:22+00:00

In [10]:
df_20.head(1)

,id_str,created_at,full_text,user.id_str,user.screen_name,user.name,user.created_at
0,1214659714698633223,2020-01-07 21:26:57+00:00,@jackshitnobody He is a great actor . And ambe...,3416958298,Kenman_RiderW,SpecSpiderKen,2015-08-12 03:54:29+00:00

In [11]:
# df_20 = df_20.merge(df_users_20, how='left', on=['user.created_at', 'user.id_str', 'user.name', 'user.screen_name'])
# print(df_20.shape)
# df_20.head(1)

## Check the columns dropped in the lite csv files

In [12]:
df_20 = pd.read_csv('tweets_2020.csv', lineterminator='\n')
df_20.shape

(612583, 39)

In [13]:
# the columns not included in the lite csv
no_lite = set(df_20.columns) - set(df_21.columns)
no_lite

{'entities.hashtags',
 'entities.media',
 'entities.symbols',
 'entities.urls',
 'entities.user_mentions',
 'in_reply_to_status_id_str',
 'in_reply_to_user_id',
 'lang',
 'quoted_status.created_at',
 'quoted_status.entities.hashtags',
 'quoted_status.entities.media',
 'quoted_status.entities.symbols',
 'quoted_status.entities.urls',
 'quoted_status.entities.user_mentions',
 'quoted_status.full_text',
 'quoted_status.id_str',
 'quoted_status.in_reply_to_status_id_str',
 'quoted_status.in_reply_to_user_id',
 'quoted_status.lang',
 'quoted_status.source',
 'quoted_status.user.id_str',
 'source',
 'user.lang',
 'user.location',
 'user.verified'}

In [14]:
df_20[list(no_lite)].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 612583 entries, 0 to 612582
Data columns (total 25 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   entities.media                           101212 non-null  object
 1   quoted_status.entities.hashtags          130192 non-null  object
 2   quoted_status.id_str                     130192 non-null  float64
 3   in_reply_to_user_id                      180081 non-null  float64
 4   quoted_status.entities.symbols           130192 non-null  object
 5   user.lang                                0 non-null       float64
 6   user.location                            387276 non-null  object
 7   quoted_status.user.id_str                130192 non-null  float64
 8   quoted_status.entities.user_mentions     130192 non-null  object
 9   quoted_status.entities.media             68082 non-null   object
 10  entities.user_mentions                   612583 non-null  object
 11  quoted_status.in_reply_to_status_id_str  15654 non-null   float64
 12  entities.urls                            612583 non-null  object
 13  entities.symbols                         612583 non-null  object
 14  in_reply_to_status_id_str                167987 non-null  float64
 15  lang                                     612583 non-null  object
 16  entities.hashtags                        612583 non-null  object
 17  source                                   612500 non-null  object
 18  quoted_status.in_reply_to_user_id        16541 non-null   float64
 19  quoted_status.lang                       130192 non-null  object
 20  quoted_status.entities.urls              130192 non-null  object
 21  user.verified                            612583 non-null  bool
 22  quoted_status.source                     130186 non-null  object
 23  quoted_status.full_text                  130192 non-null  object
 24  quoted_status.created_at                 130192 non-null  object
dtypes: bool(1), float64(7), object(17)
memory usage: 112.8+ MB

In [15]:
with pd.option_context('display.max_columns', None) :
  display(df_20[list(no_lite)].head()) #.style.set_properties(**{'text-align': 'left'})

,entities.media,quoted_status.entities.hashtags,quoted_status.id_str,in_reply_to_user_id,quoted_status.entities.symbols,user.lang,user.location,quoted_status.user.id_str,quoted_status.entities.user_mentions,quoted_status.entities.media,entities.user_mentions,quoted_status.in_reply_to_status_id_str,entities.urls,entities.symbols,in_reply_to_status_id_str,lang,entities.hashtags,source,quoted_status.in_reply_to_user_id,quoted_status.lang,quoted_status.entities.urls,user.verified,quoted_status.source,quoted_status.full_text,quoted_status.created_at
0,NaN,NaN,NaN,3.416958e+09,NaN,NaN,NaN,NaN,NaN,NaN,"[{'indices': [0, 15], 'screen_name': 'JackShit...",NaN,[],[],1.214660e+18,en,[],"<a href=""http://twitter.com/download/iphone"" r...",NaN,NaN,NaN,False,NaN,NaN,NaN
1,NaN,NaN,NaN,4.269627e+08,NaN,NaN,Switzerland,NaN,NaN,NaN,"[{'indices': [0, 13], 'screen_name': 'thekjohn...",NaN,[],[],1.214655e+18,en,[],"<a href=""http://twitter.com/download/iphone"" r...",NaN,NaN,NaN,False,NaN,NaN,NaN
2,NaN,NaN,NaN,2.615091e+09,NaN,NaN,Death Star,NaN,NaN,NaN,"[{'indices': [124, 137], 'screen_name': 'xmerm...",NaN,[],[],1.214656e+18,en,[],"<a href=""http://twitter.com/download/iphone"" r...",NaN,NaN,NaN,False,NaN,NaN,NaN
3,NaN,[],1.214655e+18,NaN,[],NaN,she â†· her â•± entp-a â•± rp â•± stan acc,9.347675e+17,[],NaN,[],NaN,[],[],NaN,es,[],"<a href=""https://mobile.twitter.com"" rel=""nofo...",NaN,es,[],False,"<a href=""https://mobile.twitter.com"" rel=""nofo...",un fc que tiene 39 aÃ±os en un rol siendo un pj...,Tue Jan 07 21:06:21 +0000 2020
4,"[{'original_info': {'width': 244, 'height': 30...",NaN,NaN,8.161101e+08,NaN,NaN,Roquetas,NaN,NaN,NaN,[],NaN,[],[],1.214648e+18,es,"[{'indices': [3, 15], 'text': 'ElPadrastro'}]","<a href=""http://twitter.com/download/android"" ...",NaN,NaN,NaN,False,NaN,NaN,NaN

<br>

https://realpython.com/pandas-merge-join-and-concat/

https://stackoverflow.com/questions/38256104/differences-between-merge-and-concat-in-pandas

# Add the language column and the user.location to the data

In [16]:
# create a list of columns to filter on 
cols = set(df_21.columns) | {'user.location', 'lang'}

In [17]:
# Load the original full data
df_18 = pd.read_csv('tweets_2018.csv', lineterminator='\n')
df_19 = pd.read_csv('tweets_2019.csv', lineterminator='\n')
df_20 = pd.read_csv('tweets_2020.csv', lineterminator='\n')
df_21 = pd.read_csv('tweets_2021.csv', lineterminator='\n')

In [18]:
# Filter on specific columns
df_18 = df_18[list(cols)]
df_19 = df_19[list(cols)]
df_20 = df_20[list(cols)]
df_21 = df_21[list(cols)]

In [19]:
# merge all twitter data in one dataframe
df_merged = pd.concat([df_18, df_19, df_20, df_21])
print(df_merged.shape)
df_merged.head(1)

(972801, 16)

,created_at,user.profile_banner_url,user.description,user.location,user.profile_image_url,lang,full_text,user.friends_count,user.name,user.created_at,user.followers_count,user.id_str,user.statuses_count,id_str,user.screen_name,user.url
0,2018-01-17 22:04:48+00:00,https://pbs.twimg.com/profile_banners/86151144...,âŒ– ğ™´ğš¡ ğ™²ğšğš›ğš‹ğšğš›ğšğšœ ğ™°ğšğšğš—ğš. â•® ğ˜½ğ™”ğ™ğ™‰ğ™€ ğ‘‚â€™ğ¶ğ´ğ¿ğ¿ğ´ğºğ»ğ´ğ‘ â‚/â‚… â—£...,"ğ‹ğ¨ğ§ğğ¨ğ§, ğ‹ğğ°ğ¢ğ¬ğ¡ğšğ¦. ğ“.ğ“–; ğ“Ÿğ“²ğ“»ğ“ªğ“½ğ“® ğ‘‡ğ˜©ğ‘’ğ‘› ğ‘¦ğ‘œğ‘¢ ğ‘Ÿğ‘’...",http://pbs.twimg.com/profile_images/1383461196...,en,"[ Luke Mitchell y Amber Heard, chillando. http...",458,â•¾ Sá´›á´œá´€Ê€á´› ğ…ğ‚ ğ€ğ”!,2017-05-08 09:21:50+00:00,1075,861511449776201728,26571,953749974365474821,StuartBlxck,https://t.co/ZWO1FYzQY8

<br>

# Merged DataFrame Wrangling

In [20]:
# rename columns
df_merged.rename(columns={'user.name': 'username',
                          'user.id_str': 'user_id',
                          'user.description': 'user_description',
                          'user.profile_banner_url': 'profile_banner_url',
                          'user.location': 'user_location',
                          'user.profile_image_url': 'profile_image_url',
                          'user.statuses_count': 'n_statuses',
                          'id_str': 'tweet_id',
                          'user.url': 'user_url',
                          'user.friends_count': 'n_friends',
                          'user.created_at': 'user_created_at',
                          'user.followers_count': 'n_followers',
                          'user.screen_name': 'user_screen_name',
                          'full_text': 'text'}, inplace=True);

In [21]:
# change dtypes
df_merged['user_id'] = df_merged['user_id'].astype('str')
df_merged['tweet_id'] = df_merged['tweet_id'].astype('str')
# use format to remove the +00:00
df_merged["created_at"] = pd.to_datetime(df_merged["created_at"], format="%Y-%m-%d %H:%M:%S+00:00")
df_merged["user_created_at"] = pd.to_datetime(df_merged["user_created_at"], format="%Y-%m-%d %H:%M:%S+00:00")

In [22]:
df_merged.head(1)

,created_at,profile_banner_url,user_description,user_location,profile_image_url,lang,text,n_friends,username,user_created_at,n_followers,user_id,n_statuses,tweet_id,user_screen_name,user_url
0,2018-01-17 22:04:48,https://pbs.twimg.com/profile_banners/86151144...,âŒ– ğ™´ğš¡ ğ™²ğšğš›ğš‹ğšğš›ğšğšœ ğ™°ğšğšğš—ğš. â•® ğ˜½ğ™”ğ™ğ™‰ğ™€ ğ‘‚â€™ğ¶ğ´ğ¿ğ¿ğ´ğºğ»ğ´ğ‘ â‚/â‚… â—£...,"ğ‹ğ¨ğ§ğğ¨ğ§, ğ‹ğğ°ğ¢ğ¬ğ¡ğšğ¦. ğ“.ğ“–; ğ“Ÿğ“²ğ“»ğ“ªğ“½ğ“® ğ‘‡ğ˜©ğ‘’ğ‘› ğ‘¦ğ‘œğ‘¢ ğ‘Ÿğ‘’...",http://pbs.twimg.com/profile_images/1383461196...,en,"[ Luke Mitchell y Amber Heard, chillando. http...",458,â•¾ Sá´›á´œá´€Ê€á´› ğ…ğ‚ ğ€ğ”!,2017-05-08 09:21:50,1075,861511449776201728,26571,953749974365474821,StuartBlxck,https://t.co/ZWO1FYzQY8

In [24]:
# Adding year, month, dayofmonth and a diff columns
df_merged["date"] = df_merged["created_at"].dt.date
df_merged["year"] = df_merged["created_at"].dt.year
df_merged["month"] = df_merged["created_at"].dt.strftime("%b")
df_merged["dayofmonth"] = df_merged["created_at"].dt.day
# df_merged["hour"] = df_merged["created_at"].dt.hour
df_merged["diff"] = df_merged["created_at"] - df_merged["user_created_at"]
df_merged["days_diff"] = df_merged["diff"].dt.days
# df_merged["hours_diff"] = df_merged["diff"].dt.components['hours']
df_merged["hours_diff"] = df_merged["diff"].astype(str).str.split(" ").str[2]

In [25]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 972801 entries, 0 to 228685
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   created_at          972801 non-null  datetime64[ns]
 1   profile_banner_url  852279 non-null  object
 2   user_description    846381 non-null  object
 3   user_location       622152 non-null  object
 4   profile_image_url   972741 non-null  object
 5   lang                972801 non-null  object
 6   text                972801 non-null  object
 7   n_friends           972801 non-null  int64
 8   username            972720 non-null  object
 9   user_created_at     972801 non-null  datetime64[ns]
 10  n_followers         972801 non-null  int64
 11  user_id             972801 non-null  object
 12  n_statuses          972801 non-null  int64
 13  tweet_id            972801 non-null  object
 14  user_screen_name    972801 non-null  object
 15  user_url            276888 non-null  object
 16  date                972801 non-null  object
 17  year                972801 non-null  int64
 18  month               972801 non-null  object
 19  dayofmonth          972801 non-null  int64
 20  diff                972801 non-null  timedelta64[ns]
 21  days_diff           972801 non-null  int64
 22  hours_diff          972801 non-null  object
dtypes: datetime64[ns](2), int64(6), object(14), timedelta64[ns](1)
memory usage: 178.1+ MB

In [27]:
df_merged.head(1)

,created_at,profile_banner_url,user_description,user_location,profile_image_url,lang,text,n_friends,username,user_created_at,...,tweet_id,user_screen_name,user_url,date,year,month,dayofmonth,diff,days_diff,hours_diff
0,2018-01-17 22:04:48,https://pbs.twimg.com/profile_banners/86151144...,âŒ– ğ™´ğš¡ ğ™²ğšğš›ğš‹ğšğš›ğšğšœ ğ™°ğšğšğš—ğš. â•® ğ˜½ğ™”ğ™ğ™‰ğ™€ ğ‘‚â€™ğ¶ğ´ğ¿ğ¿ğ´ğºğ»ğ´ğ‘ â‚/â‚… â—£...,"ğ‹ğ¨ğ§ğğ¨ğ§, ğ‹ğğ°ğ¢ğ¬ğ¡ğšğ¦. ğ“.ğ“–; ğ“Ÿğ“²ğ“»ğ“ªğ“½ğ“® ğ‘‡ğ˜©ğ‘’ğ‘› ğ‘¦ğ‘œğ‘¢ ğ‘Ÿğ‘’...",http://pbs.twimg.com/profile_images/1383461196...,en,"[ Luke Mitchell y Amber Heard, chillando. http...",458,â•¾ Sá´›á´œá´€Ê€á´› ğ…ğ‚ ğ€ğ”!,2017-05-08 09:21:50,...,953749974365474821,StuartBlxck,https://t.co/ZWO1FYzQY8,2018-01-17,2018,Jan,17,254 days 12:42:58,254,12:42:58

<br>

# Normalizing Text

In [28]:
df_merged['text'] = df_merged['text'].str.lower()

# Saving Dataframe

In [29]:
# save the merged dataframe
df_merged.to_csv("merged_all_years_zip.csv", compression='zip', index=False)

In [31]:
# def remove_emojis(text):
#     emoji_pattern = re.compile("["
#                                "â¤ï¸"
#                                "ğŸ¥°"
#                                "ğŸ¤®"
#                                "ğŸ¤¢"
#                                "ğŸ¤¬"
#                                "ğŸ¤"
#                                "ğŸ¤¡"
#                                "ğŸ¥´"
#                                "âœ¨"
#                                "ğŸ¤œ"
#                                "ğŸ¤›"
#             u"\U0001F600-\U0001F64F" 
#             u"\U0001F300-\U0001F5FF"  
#             u"\U0001F680-\U0001F6FF"  
#             u"\U0001F1E0-\U0001F1FF"  
#                                "]+", flags=re.UNICODE)
#     return emoji_pattern.sub(r'', text)

In [32]:
# # normaliztion
# df_merged_final['clean_text'] = df_merged_final.comment.apply(lambda x: remove_emojis(x))

In [33]:
# df_merged_final.clean_text = df_merged_final.clean_text.apply(
#     lambda x: x.replace('"', '').replace('\\', '').replace('/', '').replace('.', '').replace('-', '').replace('â€¦', '').replace('(', '').replace(')', '').replace('Â¯', '').replace('\t', ' ').replace('\n', ' ').replace('\r', '').replace('       ',' ').replace('      ',' ').replace('     ',' ').replace('   ',' ').replace('  ',' '))

<br>

# Other Languages Wrangling

In [34]:
# check the undefined
df_merged[df_merged['lang'] == 'und'].text.value_counts().head(10)

#justiceforjohnnydepp                            44312
#justiceforjohnnydepp #amberheardisanabuser       1675
#amberheardisanabuser                             1632
#amberheardisaliar                                1356
#justiceforjohnnydepp âš–ï¸                          1303
@realamberheard #justiceforjohnnydepp              755
#justiceforjohnnydepp \n#amberheardisanabuser      572
#justiceforjohnnydepp \n#johnnydepp                520
@adam_waldman #justiceforjohnnydepp                474
#justiceforjohnnydepp #johnnydeppisinnocent        445
Name: text, dtype: int64

In [35]:
df_merged[df_merged['lang'] == 'und'].shape

(173082, 23)

In [36]:
df_threat_others = df_merged[(df_merged['lang'] != 'en') & (df_merged['lang'] != 'und')]
print(df_threat_others.shape)

(143304, 23)

## Add a Language-Detection Column

In [37]:
# from polyglot.detect import Detector
# import icu
# poly_obj = Detector('no one cares, you suck', quiet=True)
# icu.Locale.getDisplayName(poly_obj.language.locale)

In [38]:
# def det(x):
#     try:
#         poly_obj = Detector(x, quiet=True)
#         lang = icu.Locale.getDisplayName(poly_obj.language.locale)
#     except:
#         lang = 'Other'
#     return lang

In [39]:
# from polyglot.detect.base import logger as polyglot_logger
# polyglot_logger.setLevel("ERROR")

In [40]:
# t0 = time.time()
# df_merged_final['language'] = df_merged_final.clean_text.apply(lambda x: det(x)) 
# (time.time() - t0)/60

In [41]:
# df_merged_final.language.value_counts().head(20)

## Add a Translation Column

In [42]:
# # Add A Translation Column
# import mtranslate

# def translate(x):
#     try:
#         translated = mtranslate.translate(x,"en","auto")
#     except:
#         translated = 'not_translated'
#     return translated

In [43]:
# import time
# t0 = time.time()
# df_threat_others['translated'] = df_threat_others.text.apply(lambda x: translate(x))
# (time.time() - t0) /60

In [44]:
# df_threat_others.to_csv("other_languages.csv", index=False)