In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
cd '../../Change.org_Data'

/Users/mnagy99/jupyter/AH/Change.org/Change.org_Data

petition --> a formal written request, typically one signed by many people, appealing to authority in respect of a particular cause.

https://www.change.org

https://www.change.org/p/dc-entertainment-remove-amber-heard-from-aquaman-2

http://guide.change.org/share

# Petitions Comments

In [3]:
df_petition1 = pd.read_csv('all_petitions_comments_20211026-132241.csv')
print(df_petition1.shape)
df_petition1.head(2)

(17245, 45)

,index,id,comment,parent_id,children_count,commentable_type,commentable_id,likes,role,created_at,...,user.photo.sizes.large.size.width,user.photo.sizes.large.size.height,user.photo.sizes.xlarge.url,user.photo.sizes.xlarge.processing,user.photo.sizes.xlarge.size.width,user.photo.sizes.xlarge.size.height,user.roles,commentable_entity.slug,petition__slug,status_manual
0,0,810211260,"Johnny Depp is Innocent, Amber Heard is a lier...",0,0,Event,14986339,1,comment,2020-12-07T02:33:21Z,...,400.0,400.0,//assets.change.org/photos/7/uq/dv/QVuqDvrhjPw...,False,800.0,800.0,[],warner-brothers-save-johnny-depp-as-gellert-gr...,warner-brothers-save-johnny-depp-as-gellert-gr...,against
1,1,809954316,She's an evil abuser. Justice for JD! She shou...,0,0,Event,14986339,0,comment,2020-12-01T19:45:00Z,...,NaN,NaN,NaN,NaN,NaN,NaN,[],warner-brothers-save-johnny-depp-as-gellert-gr...,warner-brothers-save-johnny-depp-as-gellert-gr...,against

In [4]:
df_petition1.duplicated().sum()

0

In [5]:
df_petition2 = pd.read_csv('all_petitions_comments_20211112-095033.csv')
print(df_petition2.shape)
df_petition2.head(2)

(27238, 45)

,index,id,comment,parent_id,children_count,commentable_type,commentable_id,likes,role,created_at,...,user.photo.sizes.large.size.width,user.photo.sizes.large.size.height,user.photo.sizes.xlarge.url,user.photo.sizes.xlarge.processing,user.photo.sizes.xlarge.size.width,user.photo.sizes.xlarge.size.height,user.roles,commentable_entity.slug,petition__slug,status_manual
0,0,810211260,"Johnny Depp is Innocent, Amber Heard is a lier...",0,0,Event,14986339,1,comment,2020-12-07T02:33:21Z,...,400.0,400.0,//assets.change.org/photos/7/uq/dv/QVuqDvrhjPw...,False,800.0,800.0,[],warner-brothers-save-johnny-depp-as-gellert-gr...,warner-brothers-save-johnny-depp-as-gellert-gr...,against
1,1,809954316,She's an evil abuser. Justice for JD! She shou...,0,0,Event,14986339,0,comment,2020-12-01T19:45:00Z,...,NaN,NaN,NaN,NaN,NaN,NaN,[],warner-brothers-save-johnny-depp-as-gellert-gr...,warner-brothers-save-johnny-depp-as-gellert-gr...,against

In [6]:
df_petition2.duplicated().sum()

0

In [7]:
df = df_petition2.append(df_petition1)
print('As Expected: df_petition1 is part of df_petition2')
df.duplicated().sum()

As Expected: df_petition1 is part of df_petition2

17245

<br>

# Petitions Milestones

In [8]:
df_milestone1 = pd.read_csv('all_petitions_milestones_20211026-130816.csv')
print(df_milestone1.shape)
df_milestone1.head(2)

(1694, 13)

,index,__typename,id,createdAt,signatureCount,petition__slug,title,description,photo,video,embeddedMedia,dmResponse,status_manual
0,0,MilestonePetitionUpdate,22850001,2018-06-07T15:47:20.000Z,500.0,jk-rowling-recast-gellert-grindelwald,NaN,NaN,NaN,NaN,NaN,NaN,against
1,1,MilestonePetitionUpdate,22035832,2017-11-19T08:15:31.000Z,250.0,jk-rowling-recast-gellert-grindelwald,NaN,NaN,NaN,NaN,NaN,NaN,against

In [9]:
df_milestone1.duplicated().sum()

52

In [10]:
df_milestone1.drop_duplicates(inplace=True)
print(df_milestone1.shape)
df_milestone1.duplicated().sum()

(1642, 13)

0

In [11]:
df_milestone2 = pd.read_csv('all_petitions_milestones_20211112-093758.csv')
print(df_milestone2.shape)
df_milestone2.head(2)

(2054, 13)

,index,__typename,id,createdAt,signatureCount,petition__slug,title,description,photo,video,embeddedMedia,dmResponse,status_manual
0,0,MilestonePetitionUpdate,22850001,2018-06-07T15:47:20.000Z,500.0,jk-rowling-recast-gellert-grindelwald,NaN,NaN,NaN,NaN,NaN,NaN,against
1,1,MilestonePetitionUpdate,22035832,2017-11-19T08:15:31.000Z,250.0,jk-rowling-recast-gellert-grindelwald,NaN,NaN,NaN,NaN,NaN,NaN,against

In [12]:
df_milestone2.duplicated().sum()

52

In [13]:
df_milestone2.drop_duplicates(inplace=True)
df_milestone2.duplicated().sum()

0

In [14]:
df = df_milestone2.append(df_milestone1)
print('As Expected: df_milestone1 is part of df_milestone2')
df.duplicated().sum()

As Expected: df_milestone1 is part of df_milestone2

1642

<br>

# Petition Slugs

In [15]:
data = 'change_org_comments_petition_slug_hollywood-boycott-aquaman-2-amber-heard_at_20211005-210520_limit_1000_offset_0_delay_ms_100.csv'

In [16]:
df_change = pd.read_csv(data)
print(df_change.shape)
df_change.head(2)

(545, 236)

,id,comment,parent_id,children_count,commentable_type,commentable_id,likes,role,created_at,deleted_at,...,user__photo__sizes__medium__size__width,user__photo__sizes__medium__size__height,user__photo__sizes__large__url,user__photo__sizes__large__processing,user__photo__sizes__large__size__width,user__photo__sizes__large__size__height,user__photo__sizes__xlarge__url,user__photo__sizes__xlarge__processing,user__photo__sizes__xlarge__size__width,user__photo__sizes__xlarge__size__height
0,824608820,This makes me sick to my stomach. Because this...,0,0,Event,20569720,2,comment_dashboard,2021-10-04T11:15:26Z,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,824601456,take her roles away from her!!!,0,0,Event,20569720,2,comment,2021-10-04T06:33:44Z,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
data = 'change_org_petition_slug_united-states-supreme-court-put-amber-heard-behind-bars_at_20210821-084803_max_number_signatures_30 (1).csv'

In [18]:
df_change = pd.read_csv(data)
print(df_change.shape)
df_change.head()

(20, 6)

,timestamp,node.id,node.displayName,node.photo.id,node.photo.userSmall.url,node.photo
0,2021-08-21T04:49:10.683Z,863157274,Amber Rye,219445047.0,//assets.change.org/photos/8/rg/hp/PXrgHPphSlm...,NaN
1,2021-08-20T11:39:35.670Z,980832060,Roosa Heikkinen,NaN,NaN,NaN
2,2021-08-16T19:36:05.456Z,1125452083,Lydia Fiebig,NaN,NaN,NaN
3,2021-08-15T13:25:45.699Z,1221146397,Prasanjit Biswal,NaN,NaN,NaN
4,2021-08-14T06:28:21.497Z,1220881815,Vinayak Ray,NaN,NaN,NaN

<br>

The Below Data are the Same

In [19]:
data = 'change_org_petitions_Amber_Heard_at_20211005-222550_limit_1000_offset_0_delay_ms_500 (1).csv'

In [20]:
df_change1 = pd.read_csv(data)
print(df_change1.shape)
df_change1.head(2)

(293, 367)

,_index,_type,_id,_score,_source__total_signature_count,_source__created_locale,_source__first_name,_source__weekly_signature_count,_source__recent_activity_date,_source__is_pledge,...,petition__organization__photo_id,petition__photo,petition__restricted_location__city,petition__restricted_location__country_code,petition__restricted_location__lat,petition__restricted_location__lng,petition__restricted_location__state_code,petition__restricted_location__google_places_id,petition__restricted_location__photo_id,petition__missingPetition
0,petitions-en,petitions,20569720::Amber Heard,7.115500,23844,en-US,Linda,324,2020-03-01T07:41:24Z,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,petitions-en,petitions,26062476::Amber Heard,6.871536,13594,en-US,Kasandra,77,2021-01-14T22:55:30Z,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
data = 'change_org_petitions_Amber_Heard_at_20211005-222550_limit_1000_offset_0_delay_ms_500 (2).csv'

In [22]:
df_change2 = pd.read_csv(data)
print(df_change2.shape)
df_change2.head(2)

(293, 367)

,_index,_type,_id,_score,_source__total_signature_count,_source__created_locale,_source__first_name,_source__weekly_signature_count,_source__recent_activity_date,_source__is_pledge,...,petition__organization__photo_id,petition__photo,petition__restricted_location__city,petition__restricted_location__country_code,petition__restricted_location__lat,petition__restricted_location__lng,petition__restricted_location__state_code,petition__restricted_location__google_places_id,petition__restricted_location__photo_id,petition__missingPetition
0,petitions-en,petitions,20569720::Amber Heard,7.115500,23844,en-US,Linda,324,2020-03-01T07:41:24Z,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,petitions-en,petitions,26062476::Amber Heard,6.871536,13594,en-US,Kasandra,77,2021-01-14T22:55:30Z,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

https://stackoverflow.com/questions/17095101/compare-two-dataframes-and-output-their-differences-side-by-side

https://stackoverflow.com/questions/19917545/comparing-two-pandas-dataframes-for-differences

In [23]:
# def is_dfs_equal(df1, df2):
#     from pandas.testing import assert_frame_equal
#     try:
#         assert_frame_equal(df1, df2)
#         return True
#     except:  # appeantly AssertionError doesn't catch all
#         return False

In [ ]:
# is_dfs_equal(df_change1, df_change2)

In [25]:
df_change1.equals(df_change2)

True

In [26]:
(df_change1 != df_change2).all(1).sum()

0

In [27]:
data = 'change_org_petitions_Amber_Heard_at_20211005-222550_limit_1000_offset_0_delay_ms_500.csv'

In [28]:
df_change3 = pd.read_csv(data)
print(df_change3.shape)
df_change3.head(2)

(293, 367)

,_index,_type,_id,_score,_source__total_signature_count,_source__created_locale,_source__first_name,_source__weekly_signature_count,_source__recent_activity_date,_source__is_pledge,...,petition__organization__photo_id,petition__photo,petition__restricted_location__city,petition__restricted_location__country_code,petition__restricted_location__lat,petition__restricted_location__lng,petition__restricted_location__state_code,petition__restricted_location__google_places_id,petition__restricted_location__photo_id,petition__missingPetition
0,petitions-en,petitions,20569720::Amber Heard,7.115500,23844,en-US,Linda,324,2020-03-01T07:41:24Z,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,petitions-en,petitions,26062476::Amber Heard,6.871536,13594,en-US,Kasandra,77,2021-01-14T22:55:30Z,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df_change1.equals(df_change3)

True

In [ ]:
# is_dfs_equal(df_change2, df_change3)